/* Front Page*/

/* Sections */
main section {
    padding: var(--pad-xxl);
}

/* Masthead */
#masthead {
    text-align: center;
    height: calc(100vh - 56px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Cards */
#cards {
    text-align: center;
}